In [58]:
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [59]:
url = "https://www.goodreads.com/list/show/19.Best_for_Book_Clubs"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [60]:
books = []
for book in soup.find_all('tr', {'itemtype': 'http://schema.org/Book'}):
    title = book.find('a', {'class': 'bookTitle'}).text.strip()
    author = book.find('a', {'class': 'authorName'}).text.strip()
    rating = book.find('span', {'class': 'minirating'}).text.strip()
    price = book.find('span', {'class': 'price'})
    price = price.text.strip() if price else None
    review = book.find('span', {'class': 'greyText smallText'})
    review = review.text.strip() if review else None
    ranking = book.find('td', {'class': 'number'}).text.strip()
    books.append({'title': title, 'author': author, 'rating': rating, 'price': price, 'review': review, 'ranking': ranking})

In [61]:
df = pd.DataFrame(books)
df

,title,author,rating,price,review,ranking
0,The Help,Kathryn Stockett,"4.47 avg rating — 2,588,550 ratings",None,None,1
1,The Kite Runner,Khaled Hosseini,"4.33 avg rating — 2,938,569 ratings",None,None,2
2,Water for Elephants,Sara Gruen,"4.10 avg rating — 1,552,328 ratings",None,None,3
3,The Book Thief,Markus Zusak,"4.39 avg rating — 2,348,530 ratings",None,None,4
4,To Kill a Mockingbird,Harper Lee,"4.27 avg rating — 5,657,704 ratings",None,None,5
...,...,...,...,...,...,...
95,Peace Like a River,Leif Enger,"really liked it 4.00 avg rating — 87,251 ratings",None,None,96
96,Year of Wonders,Geraldine Brooks,"4.01 avg rating — 154,707 ratings",None,None,97
97,Freakonomics: A Rogue Economist Explores the H...,Steven D. Levitt,"really liked it 4.00 avg rating — 818,723 ratings",None,None,98
98,She's Come Undone,Wally Lamb,"3.90 avg rating — 337,858 ratings",None,None,99
99,The Zombie Room,R.D. Ronald,"3.74 avg rating — 27,837 ratings",None,None,100

In [ ]:
# Connect to MongoDB
client = pymongo.MongoClient('mongodb://localhost:27017/')
db = client['books_db']
collection = db['books_collection']

In [ ]:
# Insert data into MongoDB
collection.insert_many(books)

In [ ]:
# Retrieve data from MongoDB and create a Pandas DataFrame
cursor = collection.find({})
df = pd.DataFrame(list(cursor))

In [ ]:
# Print the DataFrame
print(df.head())