In [76]:
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [77]:
url = "https://www.goodreads.com/list/show/19.Best_for_Book_Clubs"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [78]:
#books = []
#for book in soup.find_all('tr', {'itemtype': 'http://schema.org/Book'}):
#    title = book.find('a', {'class': 'bookTitle'}).text.strip()
#    author = book.find('a', {'class': 'authorName'}).text.strip()
#    rating = book.find('span', {'class': 'minirating'}).text.strip()
#    score = rating.split()[0] if rating else None
#    votes = rating.split()[-2] if rating else None
#    ranking = book.find('td', {'class': 'number'}).text.strip()
#    books.append({'title': title, 'author': author, 'score': score, 'votes': votes, 'ranking': ranking})

In [79]:
books = []
for book in soup.find_all('tr', {'itemtype': 'http://schema.org/Book'}):
    title = book.find('a', {'class': 'bookTitle'}).text.strip()
    author = book.find('a', {'class': 'authorName'}).text.strip()
    rating = book.find('span', {'class': 'minirating'}).text.strip()
    ranking = book.find('td', {'class': 'number'}).text.strip()
    books.append({'title': title, 'author': author, 'rating': rating, 'ranking': ranking})

In [ ]:
<span itemprop="name" role="heading" aria-level="4">The Road</span>

In [80]:
df = pd.DataFrame(books)
df

,title,author,rating,ranking
0,The Help,Kathryn Stockett,"4.47 avg rating — 2,588,570 ratings",1
1,The Kite Runner,Khaled Hosseini,"4.33 avg rating — 2,938,590 ratings",2
2,Water for Elephants,Sara Gruen,"4.10 avg rating — 1,552,335 ratings",3
3,The Book Thief,Markus Zusak,"4.39 avg rating — 2,348,538 ratings",4
4,To Kill a Mockingbird,Harper Lee,"4.27 avg rating — 5,657,723 ratings",5
...,...,...,...,...
95,Peace Like a River,Leif Enger,"really liked it 4.00 avg rating — 87,252 ratings",96
96,Year of Wonders,Geraldine Brooks,"4.01 avg rating — 154,707 ratings",97
97,Freakonomics: A Rogue Economist Explores the H...,Steven D. Levitt,"really liked it 4.00 avg rating — 818,724 ratings",98
98,She's Come Undone,Wally Lamb,"3.90 avg rating — 337,858 ratings",99
99,The Zombie Room,R.D. Ronald,"3.74 avg rating — 27,837 ratings",100

In [81]:
# Connect to MongoDB
client = pymongo.MongoClient('mongodb://localhost:27017/')
db = client['books_db']
collection = db['books_collection']

In [82]:
# Insert data into MongoDB
collection.insert_many(books)

In [83]:
# Retrieve data from MongoDB and create a Pandas DataFrame
cursor = collection.find({})
df = pd.DataFrame(list(cursor))

In [84]:
# Print the DataFrame
print(df.head())

                        _id                  title            author  \
0  64251f1343f6f90711605d5e               The Help  Kathryn Stockett
1  64251f1343f6f90711605d5f        The Kite Runner   Khaled Hosseini
2  64251f1343f6f90711605d60    Water for Elephants        Sara Gruen
3  64251f1343f6f90711605d61         The Book Thief      Markus Zusak
4  64251f1343f6f90711605d62  To Kill a Mockingbird        Harper Lee

                                rating ranking
0  4.47 avg rating — 2,588,570 ratings       1
1  4.33 avg rating — 2,938,590 ratings       2
2  4.10 avg rating — 1,552,335 ratings       3
3  4.39 avg rating — 2,348,538 ratings       4
4  4.27 avg rating — 5,657,723 ratings       5