In [46]:
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd

In [47]:
url = "https://www.goodreads.com/list/show/160534.Best_Books_of_2022"
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [48]:
books = []
for book in soup.find_all('tr', {'itemtype': 'http://schema.org/Book'}):
    title = book.find('a', {'class': 'bookTitle'}).text.strip()
    author = book.find('a', {'class': 'authorName'}).text.strip()
    rating = book.find('span', {'class': 'minirating'}).text.strip()
    price = book.find('span', {'class': 'price'})
    price = price.text.strip() if price else None
    review = book.find('span', {'class': 'greyText smallText'})
    review = review.text.strip() if review else None
    ranking = book.find('td', {'class': 'number'}).text.strip()
    books.append({'title': title, 'author': author, 'rating': rating, 'price': price, 'review': review, 'ranking': ranking})
    if len(books) >= 100:  # Stop appending books after 100 have been added
        break

In [49]:
# Connect to MongoDB
#client = pymongo.MongoClient('mongodb://localhost:27017/')
#db = client['books_db']
#collection = db['books_collection']

In [50]:
# Insert data into MongoDB
#collection.insert_many(books)

In [51]:
# Retrieve data from MongoDB and create a Pandas DataFrame
#cursor = collection.find({})
#df = pd.DataFrame(list(cursor))

In [52]:
# Print the DataFrame
#print(df.head())

In [53]:
df = pd.DataFrame(books)
df

,title,author,rating,price,review,ranking
0,"The Ship Who Sang (Brainship, #1)",Anne McCaffrey,"4.03 avg rating — 24,951 ratings",None,None,1
1,2001: A Space Odyssey,Arthur C. Clarke,"4.16 avg rating — 298,006 ratings",None,None,1
2,"Dark Horse (Class 5, #1)",Michelle Diener,"4.09 avg rating — 6,939 ratings",None,None,3
3,"The Hydrogen Sonata (Culture, #10)",Iain M. Banks,"4.19 avg rating — 22,367 ratings",None,None,3
4,Taboo Tech,Joy V. Smith,4.67 avg rating — 3 ratings,None,None,5
5,"Honor Among Thieves (The Honors, #1)",Rachel Caine,"3.89 avg rating — 5,198 ratings",None,None,5
6,"Linesman (Linesman, #1)",S.K. Dunstall,"4.03 avg rating — 3,075 ratings",None,None,5
7,Evolution's Darling,Scott Westerfeld,3.52 avg rating — 483 ratings,None,None,5
8,"Honor Bound (The Honors, #2)",Rachel Caine,"4.05 avg rating — 1,873 ratings",None,None,9
9,"The Long Way to a Small, Angry Planet (Wayfare...",Becky Chambers,"4.18 avg rating — 123,492 ratings",None,None,9
10,Honor Lost (Honors #3),Rachel Caine,"4.04 avg rating — 1,082 ratings",None,None,11